.mainConatiner{
  align-content: center;
  width: 100%;
  text-align: center;
  margin-top: 35px;
  
}

.addFormDiv{

  width: 60%;
  border-color: black;
  border-width: 3px;
  background-color: grey;
}